#[submodule "Health Bars/Alamofire"]
#	path = Health Bars/Alamofire
#	url = https://github.com/Alamofire/Alamofire
[submodule "Health Bars/Charts"]
	path = Health Bars/Charts
	url = https://github.com/danielgindi/Charts
